.confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    min-height: 70vh;
    overflow: hidden;
    padding: 1rem 2rem;
    gap: 1rem;
    border: unset;
    border-radius: 10px;
    background-color: white;
}

.confirmation-description{
    text-align: center;
}

.btn-confirm{
    background-color: green;
    padding: 1rem;
    color: white;
    border: unset;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-confirm:active{
    background-color: lightgreen;
}

.confirmation-number{
    padding: 1rem;
    text-align: center;
    outline: unset;
    border: 1px solid lightgray;
    border-radius: 10px;
}





@media screen and (max-width: 480px) {

    .confirmation-container{
        width: 20rem;
        min-height: 60vh;
    }
    
}