.search-box{
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    gap: 1rem;

}

.search-box > .search-input{
    border: unset;
    outline: unset;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    width: 12rem;
    height: 2rem;
}

.search-icon{
    width: 1.2rem;
}

.products-title{
    width: 20rem;
}

@media screen and (max-width: 800px) {


    .search-box{
        height: .5rem;
        padding: 1.5rem 1rem;
    }
 
}