.ItemAdder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    right: 0;
}


.list-container {
    background-color: rgb(255, 240, 222);
    display: flex;
    flex-direction: column; 
    flex: 100%;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: 1rem;
    overflow-y: scroll;
}


.ItemAdder input {
    padding: 1rem;
    border-radius: 10px;
    outline: unset;
    border-right: unset;
    border: 1px solid lightgray;
}

.ItemAdder .list-save-button {
    padding: 1rem;
    border: unset;
    background-color: rgb(249, 161, 9);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: .2rem;
}

.add-item-bottle{
    background-color: rgb(128, 72, 91);
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   padding: 1rem;
   align-items: center;
   border-radius: 10px;
   color: white;
}

.text-n-bottle{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.add-item-bottle > p{
    color: white;
    padding: 1rem 2rem;
    margin-left: 2rem;
    width: 5rem;
    font-size: 1rem;
    text-align: right;
}

.add-item-bottle-wrapper{
    padding: 1rem;
}



.bottle-logo{
   width: 10rem;
}

.list-name{
    display: flex;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;
}



/* input[type="checkbox"]{
    display: inline;
    padding: 1rem;
} */



.add-item-btn{
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    width: 10rem;
    background-color: white;
    border: unset;
    cursor: pointer;
}

.imagecart{
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
}

.must-buy-products{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    flex: 100%;
    flex-wrap: wrap;
    padding: 0 1.5rem;
   
}


.save-list-as .complete{
    background-color: rgb(69, 187, 225);
    border-radius: 10px;
    border: unset;
    color: white;
    margin: 0 1rem 1rem .1rem;
    padding: 1rem;
    cursor: pointer;
}

.save-list-as .cancel{
    background-color: gray;
    border-radius: 10px;
    margin: 0 1rem 1rem 1rem;
    border: unset;
    color: white;
    padding: 1rem;
    cursor: pointer;
}

.bought{
    text-decoration: line-through;
}

.must-buy-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-quantity{
    border: 1px solid rgb(249, 161, 9);
    padding: .2rem 2rem;
    border-radius: 15px;
    color: rgb(249, 161, 9);
}





@media screen and (max-width: 800px) {
   .ItemAdder{
    position: absolute;
    width: 80%;
    height: 100vh;
    right: 0;
   }

   .list-container{
    height: 85%;
   }
  }