.dashboard{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: rgb(249, 249, 249);
}

/* 
@media screen and (max-width: 800px) {
    .products-page{
     
    height: 100vh;
     
    }
   } */