.indicator{
    height: 1rem;
    background-color: #e6e8eb;
    border-radius: 10px;
    overflow: hidden;
    width: 95%;
    margin-left: 1rem;
}

.info-display{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
}

.indicator-item{
    background-color: orange;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .indicator{
        width: 14rem;
    }
    .info-display{
        width: 14rem;
    }
   }