.item{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding-left: 1rem;
}


.item > .item-add{
    background-color: white;
    border: unset;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item .item-add:hover{
    background-color: gray;
    color: white;
}