.sign-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    min-height: 50vh;
    overflow: hidden;
    padding: 1rem 2rem;
    gap: .5rem;
    border: unset;
    border-radius: 10px;
    background-color: white;
}

.sign-in-title{
    margin: 1rem 0;
    text-align: center;
}

.sign-in-email, .sign-in-password{
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: unset;
    border: 1px solid lightgrey;
}

.sign-in-email, .sign-in-password::placeholder{
    font-weight: 300;
    font-size: .8rem;
}

.sign-in-btn{
    padding: .8rem; 
    margin: .6rem;
    font-size: 1rem;
    font-weight: 500;
    border: unset;
    border-radius: 10px;
    color: white;
    background-color: #F9A109;
    cursor: pointer;
}

.sign-in-btn:active{
    background-color:  #FFD580;
}

.sign-in-span{
    padding: 1rem;
    font-weight: 300;
}

.sign-in-alternatives{
   
    font-size: .9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-in-sign-up-link{
    text-decoration: none;
    color: #F9A109;
    padding: 3%;
    border: 1px solid #F9A109;
    border-radius: 10px;
}

.sign-in-sign-up-link:active{
    color: white;
    background-color: #F9A109;
}



@media screen and (max-width: 480px) {

    .sign-in-container{
        width: 20rem;
        min-height: 50vh;
    }
    
}