.ShopListItem{
    display: flex;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    justify-content: space-around;   
    align-items: center;
    box-shadow: 0px 0px 5px .1px rgb(219, 219, 220);
    cursor: pointer;
}


.list-completed{
    padding: .5rem;
    border: 1px solid skyblue;
    color: skyblue;
    border-radius: 10px;
}

.list-canceled{
    padding: .5rem;
    border: 1px solid red;
    color: red;
    border-radius: 10px;
}

.list-item-date{
    color: gray;
    font-weight: 350;
}


@media screen and (max-width: 800px) {
    .ShopListItem{
     
    flex-direction: column;
    gap: 1rem;
     
    }
   }