.Navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: white;
}

.logo{
    margin: 2rem 1rem;
}

.cart{
    background-color: rgb(249, 161, 9);
    fill: white;
    width: 2.5rem;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.cart-container{
    margin: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
}

.cart:hover{
    opacity: .8;
}

.products-number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 87, 87);
    color: white;
    padding: .1rem .35rem;
    border-radius: 30%;
    font-weight: 300;
    font-size: .7rem;
    z-index: 1;
    position: absolute;
}


.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-decoration: none;
    color: black;
}

.link-icon{
    width: 1.5rem;
    margin: 1rem;
}

.active{
    border-left: 10px solid rgb(249, 161, 9);
}