.Navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    background-color: white;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active{
    border-left: 1px solid #FFD580;
}