.Navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.logo{
    margin: 2rem 1rem;
    cursor: pointer;
}

.cart{
    background-color: rgb(249, 161, 9);
    fill: white;
    width: 2.5rem;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.cart-container{
    margin: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
}

.cart:hover{
    opacity: .8;
}

.products-number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 87, 87);
    color: white;
    padding: .1rem .35rem;
    border-radius: 30%;
    font-weight: 300;
    font-size: .7rem;
    position: absolute;
}


.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-decoration: none;
    color: black;
}

.link{
    width: 100%;
    text-align: center;
}

.link-icon{
    width: 1.5rem;
    margin: 1rem;
}

.active{
    border-left: 10px solid rgb(249, 161, 9);
    border-radius: 10px;
}

.settings{
   padding: .5rem;
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 5%;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.settings >p{
    color: black;
}

.log-out{
    padding: .5rem;
    color: red;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.log-out:hover{
    background-color: red;
    color: white;
}

@media screen and (max-width: 800px) {
    .Navbar{
     
     width: 20%;
     height: 100vh;
     
    }
   }