.product-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.back-button{
    color: rgb(249, 161, 9);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 600;
}

.back-button:hover{
    background-color: rgb(249, 161, 9);
    color: white;
    cursor: pointer;
}

.text-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.product-details > img {
    border-radius: 15px;
    height: 25%;
    object-fit: cover;
}

.text-details > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-details .product-key{
    font-size: 1rem;
    color: rgb(193, 193, 196);
}

.text-details .product-value{
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .product-details{
     position: absolute;
     width: 80%;
     height: 100vh;
     right: 0;
    }
/*  
    .list-container{
     height: 85%;
    } */
   }