.products-page{
    width: 60%;
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

.products-page > p{
font-size: 1.6rem;    
}


@media screen and (max-width: 800px) {
    .products-page{
     
     width: 20%;
     height: 100vh;
     
    }
   }