.products-page{
    background-color: rgb(249, 249, 249);
    display: flex;
    padding: 2rem 1rem;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.spinner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.products-page p{
font-size: 1.6rem;    
}


.products-page::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

.products-page::-webkit-scrollbar{
    background-color: white;
}



@media screen and (max-width: 800px) {
    .products-header{
    flex-direction: column;
     
    }

    .products-page p{
        width: 15.5rem;
        text-align: left;
        word-break: break-all;
        margin-bottom: 1rem;
    }
   }


