.products-page{
    background-color: rgb(249, 249, 249);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.products-container{
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 33.3%;
    padding: 1rem;
    gap: 2rem;
}


.spinner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.products-page p{
font-size: 1.1rem;    
}


.products-page::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

.products-page::-webkit-scrollbar{
    background-color: white;
}



@media screen and (max-width: 800px) {
    .products-header{
    flex-direction: column;
     
    }

    .products-container{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .products-page p{
        width: 15.5rem;
        text-align: left;
        word-break: break-all;
        margin-bottom: 1rem;
    }
   }


