@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto-Light.ttf);
}

html {
  box-sizing: border-box ;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  user-select: none;
}

#root{
  height: 100vh;
}


@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
  animation: fade-in 500ms ease-in-out;
}
